.job-card {
  height: 100%;
  display: grid;
  grid-template: 2.5rem 2.5rem 1fr / auto;
  grid-auto-flow: column;
}

.company-logo-container {
  width: 5rem;
  display: flex;
  z-index: 1;
  overflow: hidden;
  grid-area: 1 / 1 / span 2 / auto;
  align-items: center;
  margin-left: 3.2rem;
  justify-self: start;
  border-radius: 1.5rem;
  justify-content: center;
}

.company-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.job-card-body {
  display: flex;
  padding: 3.9rem 3.2rem 0;
  flex-flow: column;
  grid-area: 2 / 1 / span 2 / auto;
  word-break: break-word;
  border-radius: 0.6rem;
  justify-content: space-between;
  background-color: rgb(25, 32, 45);
}

.timeline-wrapper {
  color: #6e8098;
}

.job-role {
  font-size: 25px;
  margin-top: 1.6rem;
  font-weight: 700;
}

.job-role > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.company-name {
  color: rgb(110, 128, 152);
  margin-top: 1.7rem;
}

.location {
  color: rgb(89, 100, 224);
  font-size: 17px;
  font-weight: 700;
  line-height: 140%;
  justify-self: flex-end;
}

.remote {
  color: rgb(0, 149, 255);
  font-weight: 700;
}
