.joblist-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

.job-list {
  width: 90%;
  display: grid;
  margin-top: 8rem;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 2.1rem;
}

@media (max-width: 600px) {
  .job-list {
    display: grid;
    grid-gap: 2.4rem;
    margin-top: 3.2rem;
    grid-template-columns: none;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .job-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
